/* TOPO */
header{
    background: #1B2E35;
    color: #AAFF01;
    padding: 30px;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-size: 40px;
}    

.pagInicial {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


/* LOGIN */
}
 .login {
    display: flex;
    flex-direction: column;
}

.login h1 {
    font-size: 35px;
    font-family: "Text Me One", sans-serif;
    color: #1B2E35;
    font-weight:bold;
    margin-bottom: 20px;
}

.login input {
    margin-bottom: 10px;
    height: 38px;
    width: 500px;
    border-radius: 15px ;
    padding-left: 10px;
}

/* CADASTRO */
.cadastro{
    display: flex;
    flex-direction: column;

}
.cadastro h1 {
    font-size: 35px;
    font-family: "Text Me One", sans-serif;
    color: #1B2E35;
    font-weight:bold;
    margin-bottom: 20px;
}
.cadastro input {
    margin-bottom: 10px;
    height: 38px;
    width: 500px;
    border-radius: 15px ;
    padding-left: 10px;
}

.englobarForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 600px;
}

/* RODAPÉ */
footer{
    background: #1B2E35;
    color: #AAFF01;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
}

