/* ENDERECO */
.endereco {
    background-color: #391F14;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    color: white;
}

.endereco p {
    font-size: 14px;
    margin-top: -7px;
    color: rgba(255, 255, 255, 0.657);
}

/* CABEÇALHO */
header {
    background-color: #391F14;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: solid 1px #A85432;
}

header h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 10x;
    margin-top: -10px;
    font-weight: 800;
}

header nav a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    border: solid 10px #391F14;
    margin-left: 5px;

}

header nav a:hover {
    color: white;
    text-decoration: none;
    border: solid 10px #A85432;
    margin-left: 5px;
    background-color: #A85432;
}

/* BANNER */
.banner {
    background-color: #391F14;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.banner div {
    width: 500px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.banner div h1 {
    color: white;
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 24px;
    display: block;
    text-align: center;

}

.banner div p {
    color: white;
    font-size: 15px;
    text-align: justify;
    line-height: 24px;
    word-spacing: 2px;
    padding-left: -400px
}

.banner img {
    /* width: 750px; */
    width: 450px;
}

.banner div button {
    width: 140px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #A85432;
    color: white;
    border: none;
    margin-top: 30px;

}

/* MAIN */
main {
    width: 750px;
    margin: 0 auto;

}

/* Sobre */
.sobre {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 40px;
    align-items: center;
}

.sobre div {
    text-align: center;
}

.sobre img {
    display: none;
}

.sobre div h1 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #A85432;
    font-weight: 200;
}

.sobre div p {
    color: black;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 24px;


}

.sobre div button {
    width: 140px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    background-color: #A85432;
    color: white;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
}

/* CONTEÚDO PRINCIPAL */
.item {
    width: 94%;
    text-align: center;
}

.carousel h1 {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #A85432;
    font-weight: 300;
}

.item img {
    border: 1px solid #A85432;
    display: block;
}

.item h2 {
    font-size: 20px;
    color: #A85432;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
}

/* RODAPÉ */
footer {
    background-color: #391F14;
    padding: 10px;
    margin-top: 30px;
}

footer {
    text-align: center;
    color: white;
    font: 12px;
}